/* General styling for admin login form */
#admLog {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #admLog h2 {
    margin-bottom: 20px;
    color: #4a4a4a;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
  }
  
  #admLog .login-form {
    display: flex;
    flex-direction: column;
  }
  
  #admLog .form-group {
    margin-bottom: 15px;
  }
  
  #admLog label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
  }
  
  #admLog input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
  }
  
  #admLog input:focus {
    outline: none;
    border-color: #8947f4;
  }
  
  #admLog .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  #admLog .login-button {
    padding: 12px;
    background-color: #8947f4;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #admLog .login-button:hover {
    background-color: #8e44ad;
  }
  
  @media (max-width: 768px) {
    #admLog {
      padding: 20px;
    }
  
    #admLog h2 {
      font-size: 20px;
    }
  }
  